@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">DIACO</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Ingrese sus quejas</a>.</p>
</div>
