@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
Oficinas: 7a av. 7-61 Zona 4, 3er. Nivel Edificio del Registro Mercantil<br />
Teléfono: 2501-9898<br />
Centro de Atención de Quejas: 6av. 0-35 Zona 4 C.C. Plaza Zona 4<br />
Área de Restaurantes 3er. Nivel Tel: 2501-9600
</p>
